<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--UserService的创建权限交给了Spring-->
    <bean id="userService" class="com.imooc.ioc.demo1.UserServiceImpl">
        <!--设置属性-->
        <property name="name" value="李四"></property>
    </bean>

    <!--FoodService的创建权限交给了Spring-->
    <bean id="foodService" class="com.imooc.ioc.demo1.FoodServiceImpl">
        <!--设置属性-->
        <property name="name" value="香蕉"></property>
        <property name="taste" value="甜甜的"></property>
        <property name="kind" value="水果"></property>
    </bean>

</beans>